body{
  width: 97,5%;
  height: 100%;
  padding: 10px;
  margin: 0;
  background-color: #E2FEFA;
font-family: "Montserrat", sans-serif;
}

.containerContact{
margin: 10%;
}

.Ola {
font-family: "Montserrat", sans-serif;
margin-left: 440px;
margin-top: 20px;
}

.NomeDiv {
 font-family: "Montserrat", sans-serif;
}

.botaoEnviar {}