body{
  margin: 16px;
  min-height: 200vh;
  background-color: #E2FEFA;
  overflow-x: hidden;
  grid: 300px / auto;
  
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.h1-Conectando {
 font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: hsl(0, 0%, 33%);
  max-width: 440px;
  margin-left: 10px;
  white-space: nowrap;  
}

.shapes {  
  position: relative;
  height: 300px;
  margin: 10px;
}

.shape1 {
top: 0px;
margin-top: -50px;     /* move para baixo */
position: absolute;
top: 20px;
right: 20px;
width: 550px;
}

.shape2 {
position: absolute;
margin-top: -790px; 
left: 40px;
width: 130px;
}

.shape3 {
    
  position: absolute;
  top: 50px;
  left: 300px;
  width: 200px;
}

.dogs { 
margin-top: -770px; 
margin-left: 810px;
position: absolute;    
top: 30px;
width: 500px;
z-index: 2;
}

.trabalhe{
font-family: "Montserrat", sans-serif;
font-weight: bold;
font-size: 16px;
border-radius: 12px;
border: none;
background-color: #4B6F6A;
color :white;
width:190px;
height: 50px;
transition: all 0.3s;
}

.trabalhe:hover {
    background-color: #456360;
    cursor: pointer;
    font-size: 17px;
}

.img-Equipe {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    justify-items: center;
}

.img-Caroline {
max-width: 274px;
max-height: 180px;
margin-right: 24px;

}

.img-Gerald {
max-width: 274px;
max-height: 180px;
margin-right: 24px;
}

.img-Averi{
max-width: 274px;
max-height: 180px;
}
.img-Lucas{
max-width: 274px;
max-height: 180px;
margin-right: 24px;
margin-top: 44px;
}

.img-Renato{
max-width: 274px;
max-height: 180px;
margin-right: 24px;
margin-top: 44px;
}
.img-Daniel{
max-width: 274px;
max-height: 180px;
margin-top: 44px;

}